/**
 * #.# Styles blog-list
 *
 * CSS for both Frontend+Backend.
*/

.ultimate-blog-layouts.blog-list .blog-item{
	display: flex;
	margin-bottom: 30px;
	background: #fff;
	padding: 15px;
	box-shadow: 0 0 25px rgba(204, 204, 204, 0.2);
}
.ultimate-blog-layouts.blog-list .blg-image-wrapper{
	flex: 1;
	margin-right: 20px;
}
.ultimate-blog-layouts.blog-list .layout-3 img{
	width: auto;
    display: block;
    margin: auto 0 auto auto;
}
.ultimate-blog-layouts.blog-list .layout-3{
	margin-left: 20px;
	margin-right: 0;
}
.ultimate-blog-layouts.blog-list .content-box{
	flex: 2;
}

.ultimate-blog-layouts.blog-list .content-box h3{
	margin-bottom: 6px;
}

@media only screen and (max-width: 767px){
	.ultimate-blog-layouts.blog-list .blog-item{
		flex-direction: column;
		padding-bottom: 30px;
		border-bottom: 1px solid #eee;
	}
	.ultimate-blog-layouts.blog-list .blg-image-wrapper{
		margin-right: 0;
		margin-bottom: 15px;
	}
}